---
---

@import "jekyll-theme-minimal";
body {
  background-color: #fff;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color:#595959;
  font-weight:400;
}

h1 {
  color:#267CB9;
}

.unstyled-button {
  border: none;
  padding: 10px;
  background: none;
}

.topnav {
  color:#267CB9;
  overflow: hidden;
  margin:0px;
  margin-right:100px;
  line-height:1.1;
  font-size:28px;
  font-weight: 500;
}

/* Style the links inside the navigation bar */
.topnav a{
  float: right;
  text-align: center;
  padding: 10px 10px;
  margin-right: 25px;
  color:#267CB9;
  line-height:1.1;
  font-size:28px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #777;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #777;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("about"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
